
.socialmedialogo {
		width: 50px;
		display: block;
		margin: auto;
}
.footer {
    
    text-align:center;
    border-top-color:#f48024;
	border-width: 3px;
	border-top-style:solid;
    background-color: #4e5d6c;
    clear:both;
	line-height: 100px;
	color:#cccccc;
	margin-top:50px;
	}